body{
	background-image: url("res/b.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}
#particles-js canvas{
	position: absolute;
	margin-top: 0px;
	margin-left: 0px;
	background: transparent;
	background-repeat: no-repeat;
	z-index: -1;
} 
.particle.js-canvas-el{
	position: relative;
}
.coll{
	background-color: transparent;
	color:white;
	outline: 5px solid white;
}
#abt{
	color:white;
	margin-top: 3%;
	font-size: 21px;
	width:50%;
	margin-left: 25%;
}
#proj{
	color:white;
	margin-top: 3%;
	font-size: 21px;
	width:50%;
	margin-left: 25%;
}
#cont{
	color:white;
	margin-top: 3%;
	font-size: 21px;
	width:50%;
	margin-left: 25%;
	cursor: pointer;
}
#heading{
	text-align: center;
	font-size: 130px;
	margin-top: 11%;
	color: white;
	font-family: "Times New Roman";
	z-index:-1;
}
#subhead{
	text-align: center;
	color: white;
	margin-top: 1.5%;
	font-family: "Times New Roman";
	font-size: 19px;
}
.btn {
  outline: 5px solid white;
  background-color: transparent;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Times New Roman";
  color: white;
}
.btn-primary{
	background-color: transparent;
}
.contact{
	margin-top: 3%;
	margin-left: 40%;
}
.resume{
	margin-top: -3.5%;
	margin-left: 55%;
}

ul#menu{
	margin-top: 1.5%;
	align-items: center;
	margin-left: 33%;
}

ul#menu li { 
  font-family: "Times New Roman";
  cursor: pointer;		
  display:inline;
  margin-left: 5%;
  color: white;
  font-size: 30px;
}

ul#bottom{
	margin-top: 8%;
	margin-left: 5%;
}
ul#bottom li{
	cursor: pointer;
	display:inline;
	margin-left: 2%;
}
